@font-face {
    font-family: 'JetBrainsMono';
    src: url('jetbrainsmono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JetBrainsMono', monospace;
    background-color: #1e1e1e;
}

p {
    color: #d2d2d2;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
